body {
    font-size: 14px;
    background: hsl(30, 38%, 92%);

}

.container {
    display: flex;
    width: 530px;
    margin: 50px auto;
    background: hsl(0, 0%, 100%);
    border-radius: 5%;

}

.container img {
    width: 265px;
    border-top-left-radius: 5%;
    border-bottom-left-radius: 5%;
}

.container__text {
    width: 50%;
    margin: 2rem;
    position: relative;
}


.container__text h3,
#parrafo {
    font-family: 'Montserrat', sans-serif;
    color: hsl(228, 12%, 48%);
    font-size: 13px;
}

.container__text h1 {
    font-family: 'Fraunces', serif;
    color: hsl(212, 21%, 14%);
}

#precio {
    color: hsl(158, 36%, 37%);
    font-family: 'Fraunces', serif;
    font-size: 25px;
}

#precio-nulo {
    text-decoration: line-through;
    color: hsl(228, 12%, 48%);
    margin-left: 10px;
    margin-bottom: 10px;
}

.container__text button {
    background: hsl(158, 36%, 37%);
    color: hsl(0, 0%, 100%);
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
    margin: 20px auto;
    width: 100%;
    padding: 10px;
    border-radius: 5%;
    border: none;
}

.container__text button img {
    width: 15px;
    margin-right: 10px;
}